*.tex
*.pdf
**/node_modules
**/*.zip
**/platforms/*
**/plugins/*
**/demos
/projetos2

**/**/*.html
!projetos/**/*.html #the cordova's projects html must be considered

#I use emacs, so this files must be ignore
\#*# 
.#*
~*